
.card-app, .card-game {
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 0.5rem;
}

.card-app {
    background: linear-gradient(225deg, #00dc684d, transparent);
}

.card-game {
    background: linear-gradient(225deg, #5989E84d, transparent);
}


.main-frame:not(.sidebar + .main-frame)::before {
    content: "";
    background: linear-gradient(#1f232500 0%, var(--sl-color-bg) 680px), url(/wiki/img/wave.svg) center/100% no-repeat, url(/wiki/img/noise.svg) center/100% repeat;
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    box-shadow: inset 0px -20px 1px var(--sl-color-bg);
}



/* Dark mode colors. */
:root {
    --cp-white: #f4f4f5;
    --cp-text: #a1a1aa;
    --cp-bg: #1f2325;
    --cp-accent: #00dc68;
    --cp-accent-hover: #2bfd87;
    --cp-disabled: #3f3f46;
    --cp-text-black: #003719;
    --cp-dark: #18181b;

	--sl-color-accent-low: #0d5c32ff;
	--sl-color-accent: #247f00;
	--sl-color-accent-high: #2bfd87ff;
	--sl-color-white: #ffffff;
	/* --sl-color-gray-1: #eaf0e8;
	--sl-color-gray-2: #bdc4bb;
	--sl-color-gray-3: #82907f;
	--sl-color-gray-4: #4f5c4d; */
	--sl-color-gray-5: #3f3f46;
	--sl-color-gray-6: #282b2e;
	--sl-color-black: #1f2325;
	--sl-color-bg-sidebar: var(--sl-color-black);
	--sl-color-bg-nav: var(--sl-color-black);
    --sl-color-hairline-shade: var(--sl-color-gray-5);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c0e2b8;
	--sl-color-accent: #258100;
	--sl-color-accent-high: #0d3e00;
	--sl-color-white: #151a13;
	--sl-color-gray-1: #1f2a1c;
	--sl-color-gray-2: #303c2d;
	--sl-color-gray-3: #4f5c4d;
	--sl-color-gray-4: #82907f;
	--sl-color-gray-5: #bdc4bb;
	--sl-color-gray-6: #eaf0e8;
	--sl-color-gray-7: #f4f7f3;
	--sl-color-black: #ffffff;
}



body {
    /* font-family: 'Poppins', Arial, Helvetica, sans-serif; */
}

h1, h2, h3 {
    font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

